@keyframes chatAnimate {
    0% {
        position: absolute;
        left: -100%;
    }

    100% {
        position: absolute;
        left: 0;
    }
}

[draggable=true] {
    cursor: grab;
}

[draggable=true]:active {
    cursor: grabbing
}

body {
    height: 100vh;
    display: flex;
    overflow: hidden;
    cursor: url("./media/cursor/default.png"), auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Carter One", system-ui;
}

.chat {
    width: 25%;
    height: 100%;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 0px 10px 0px #121212;
    .background-chat{
        position: absolute;
        width: 100%;
        height: 100%;
        filter: brightness(0.3);
        z-index: -1;
    }
}

.chat ul {
    width: 100%;
    flex-grow: 2;
    resize: none;
    overflow-y: auto;
    border-left: 2px solid;
    position: relative;
}

.chat li {
    font-size: 18px;
    margin: 8px;
    width: 270px;
    min-height: 40px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 400;
    word-break: break-all;

    animation-name: chatAnimate;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.chat div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.chat div input {
    width: 100%;
    height: 40px;
    margin: 5px;
}

.chat div button {
    width: 80px;
    margin: 5px;
}

.chat #chat_sendMessage {
    border-radius: 8px;
    border: none;
    background: aquamarine;
    font-weight: bold;
    cursor: pointer;
}

.table #dealButton {
    height: 35px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    background: #490a0f;
    color: #fafafa;
    box-shadow: 2px 3px 0px 0px #000;
    transition: 300ms;
    display: flex;
    align-items: center;
    cursor: url("./media/cursor/hover.png"), auto;
    &:hover {
        box-shadow: none;
        transform: scale(1.1);
    }
}

.game {
    width: 75%;
    height: 100%;
}

.table {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: linear-gradient(90deg, rgba(75,19,17,1) 0%, rgba(51,24,23,1) 100%, rgba(0,0,0,1) 100%);
}

.hand {
    width: 100%;
    height: 25%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;

    background: linear-gradient(90deg, rgba(75, 19, 17, 1) 0%, rgba(51, 24, 23, 1) 100%, rgba(0, 0, 0, 1) 100%);
    #handDecks{
        width: 800px;
        height: 150px;
        display: flex;
        position: relative;
        justify-content: space-around;
        div{
            animation: animateCart 600ms ease;
            transition: 300ms;
            cursor: url("./media/cursor/hover.png"), auto;
            &:hover{
                transform: scale(1.4);
            }
        }
    }
}

@keyframes animateCart{
    0%{
        position: absolute;
        left: -100%;
    }
    100%{
        position: absolute;
        left: 0;
    }
    /* 0%{
        transform: rotate3d(12, 1, 1, 0deg);
    }
    25%{
        transform: rotate3d(12, 1, 1, 90deg);
    }
    50%{
        transform: rotate3d(12, 1, 1, 180deg);
    }
    75%{
        transform: rotate3d(12, 1, 1, 270deg);
    }
    100%{
        transform: rotate3d(12, 1, 1, 360deg);
    } */
}

.card {
    height: 145px;
    width: 100px;
    background-color: #eee;
    border: 1px solid #dedede;
    cursor: grab;
    border-radius: 5px;
}

.card h2 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.card p {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 82px;
    text-align: center;
    line-height: 100%;
}

.card[red="true"] p,
.card[red="true"] h2 {
    color: red;
}

.videoCard{
    position:absolute;
    height:20vh;
    width:100%;
    overflow: hidden;
    margin-left: 10px;
}

.videoCard video{
    width: 10%;
}

.videoCard img{
    width: 10%;
}

#showDecks{
    width: 800px;
    height: 315px;
    div{
        position: absolute;
        top: 125px;
        left: 135px;
    }
}